@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, var(--color-brand-50), var(--color-brand-200));
  color: var(--color-black);
}

.pokemon-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: float 1s infinite;
}
