:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brand-50: #f0fef8;
  --color-brand-100: #dafbee;
  --color-brand-200: #b6f5dd;
  --color-brand-300: #8df0c9;
  --color-brand-400: #64eab5;
  --color-brand-500: #3de29f;
  --color-brand-600: #32c78a;
  --color-brand-700: #27aa70;
  --color-brand-800: #1d8c57;
  --color-brand-900: #125b35;
  --color-alert-50: #fff6f0;
}
